<!DOCTYPE html>
{% trans_default_domain 'messages' %}
<html>
    <head>
        <meta charset="UTF-8" />
        {% block title %}<title>{% trans %}welcome{% endtrans %}</title>{% endblock %}
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}"/>
    </head>
    <body>
        {% block body %}
            <nav class="navclass">
                <div>
                    <ul>
                        <li><a href="{{ path('homepage') }}">{% trans %}homepage{% endtrans %}</a></li>
                        <li><a href="{{ path('user') }}">{% trans %}user.list{% endtrans %}</a></li>
                        <li><a href="{{ path('imprint') }}">{% trans %}imprint.title{% endtrans %}</a></li>
                    </ul>
                </div>
                {% block langnavegation %}
                    <div class="">
                        <ul class="langnavclass">
                            <li><a href="/en">en</a></li>
                            <li><a href="/de">de</a></li>
                            <li><a href="/nl">nl</a></li>
                        </ul>
                    </div>
                {% endblock %}
            </nav>
        {% endblock %}
        {% block content %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
