{% extends 'base.html.twig' %}

{% block title %}<title>{% trans %}imprint.title{% endtrans %}</title>{% endblock %}
{% block langnavegation %}
    <div>
        <ul class="langnavclass">
            <li><a href="/en/imprint">en</a></li>
            <li><a href="/de/impressum">de</a></li>
            <li><a href="/nl/afdruk">nl</a></li>
        </ul>
    </div>
{% endblock %}
{% block content %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>{% trans %}langunage{% endtrans %}</h1>
            </div>

        </div>
    </div>
{% endblock %}

