{% extends 'base.html.twig' %}

{% block title %}<title>{% trans %}user.list{% endtrans %}</title>{% endblock %}
{% block langnavegation %}
    <div>
        <ul class="langnavclass">
            <li><a href="/en/user">en</a></li>
            <li><a href="/de/benutzer">de</a></li>
            <li><a href="/nl/gebruiker">nl</a></li>
        </ul>
    </div>
{% endblock %}
{% block content %}
    <div id="wrapper">
        <div id="container">
                <table class="table border">
                    <caption>{% trans %}user.list{% endtrans %}</caption>
                    <thead >
                        <tr>
                            <th>id</th>
                            <th>name</th>
                            <th>email</th>
                            <th>address street</th>
                            <th>address zipCode</th>
                            <th>phone</th>
                            <th>Company name</th>
                            <th>Company Slogan</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.name }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.address.street }}</td>
                                <td>{{ user.address.zipcode }}</td>
                                <td>{{ user.phone }}</td>
                                <td>{{ user.company.name }}</td>
                                <td>{{ user.company.catchPhrase }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

        </div>
    </div>
{% endblock %}

